#open-contact-modal {
    @include trade;
}

.contact-modal {

    position: absolute;

    .inner {
        padding: 2rem;
    }

    .title {
        @include trade-bold;
        font-size: 1.25rem;
        margin-top: 3rem;
        text-transform: uppercase;
        span {
            position: relative;
            &:after {
                border-bottom: 0.25rem solid black;
                bottom: -0.25rem;
                content: '';
                display: block;
                height: 0;
                left: -100%;
                position: absolute;
                width: 200%;
            }
        }
        @supports (display: grid){
            margin-top: 0;
        }
    }

    form p:last-of-type {
        margin-bottom: 0;
    }

    input[type="submit"]{
        background: $text-color;
        color: white;
        &:hover,
        &:focus {
            background: white;
            color: $text-color;
        }
    }

    input[type="submit"],
    button {
        display: inline-block;
    }
    
}