.internal-nav-list {

    display: block;
    margin: 0.25rem 0 $stanPad 0;
    text-align: right;

    li {
        display: inline-block;
        font-size: 0.8rem;
        margin-right: 1rem;
        text-transform: uppercase;
        &:last-child {
            margin-right: 0;
        }
        @include responsive(3){
            font-size: 0.7rem;
            margin-right: 0.5rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    a, span {
        color: $gray-on-gray;
        display: inline-block;
        padding: 2px;
        text-decoration: none;
    }

    a {
        border-bottom: 1px solid #a5abb1;
        color: $text-color;
    }

}