.lago-gallery {
    
    li:first-child {
        grid-column: span 2;
        img {
            width: 100%;
        }
        @include responsive(35){
            grid-column: span 3;
        }
    }
    
    /*margin-right: -0.5rem;
    margin-left: -0.5rem;
    
    .tile {
        display: inline-block;
        float: left;
        margin: 0.5rem;
        vertical-align: top;
        width: 46%;
        width: calc(50% - 1rem);
        @include responsive(35){
            width: 30%;
            width: calc(33.33% - 1rem);
        }
    }
    
    .hero.tile {
        width: 97%;
        width: calc(100% - 1rem);
    }

    @supports (display: flex){
        
        display: flex;
        flex-wrap: wrap;

        .tile {
            display: block;
            float: none;
        }
    
    }

    @supports(display: grid){

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        .tile {
            margin: 0;
            width: 100%;
        }

        .hero.tile {
            grid-column: span 2;
            width: 100%;
        }

        @include responsive(35){
            grid-template-columns: 1fr 1fr 1fr;
            .hero.tile {
                grid-column: span 3;
            }
        }

    }*/

}