.modal-overlay {
    background: rgba(0, 0, 0, 0.85);
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.modal {
    background-color:#fff;
    border: thin #000 solid;
    display: none;
	margin: 1rem;
    overflow: hidden;
    position:fixed;
    top: ($stanPad * 3);
    width: 100%;
    width: calc( 100% - 2rem );
    z-index:3; /* places the modal dialog on top of everything else */
    @include responsive(35){
        left: 25%;
        width: 50%;
    }
}

.modal-close-button {
    border-color: $text-color;
    color: $text-color;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.25rem;
    position:absolute;
    right: 2rem;
	top: 2rem;
}

.screen-reader-offscreen {
    height:1px;
    left:-999px;
	position:absolute;
	top:auto;
	width:1px;
}