.search-results-pagination {

    @extend .cf;

    a {
        @include trade-black;
        background: black;
        color: white;
        display: inline-block;
        font-size: 0.8rem;
        padding: 0.5rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }

    .next {
        float: right;
        padding-right: 1.5rem;
    }

    .previous {
        float: left;
        padding-left: 1.5rem;
    }

    .next:before,
    .previous:before {
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        content: '';
        display: block;
        height: 0.4rem;
        left: 0.6rem;
        position: absolute;
        top: 0.85rem;
        transform: rotate(45deg);
        width: 0.4rem;
    }

    .next:before {
        border-left: none;
        border-bottom: none;
        border-top: 3px solid white;
        border-right: 3px solid white;
        left: auto;
        right: 0.6rem;
    }

}

.index-pagination {
    
    padding-bottom: 4rem;
    text-align: center;

    a.increment {
        min-width: 5rem;
    }

    a.jump {
        min-width: 2rem;
    }

    .current {
        display: block;
        font-size: 0.9rem;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    .prev-options {
        float: left;
    }

    .next-options {
        float: right;
    }

    @include responsive(25){

        .region {
            position: relative;
        }

        .current {
            margin: 0;
        }

        .prev-options,
        .next-options {
            position: absolute;
            top: 0;
        }

        .prev-options {
            left: 0;
        }

        .next-options {
            right: 0;
        }

    }
}