*[data-hideable-form='true']{

    position: relative;

    a.close-link {
        border: 2px solid white;
        color: transparent;
        color: rgba(0,0,0,0);
        display: none;
        height: 2rem;
        line-height: 1.8rem;
        overflow: hidden;
        position: absolute;
        right: 3rem;
        top: 3rem;
        width: 2rem;
        &:after {
            @include trade-bold;
            color: white;
            content: 'x';
            display: block;
            font-family: sans-serif;
            font-weight: 700;
            height: 100%;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
        }
    }

    &.open {
        background: rgba(0,0,0,0.85);
        display: block;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;

        a.close-link {
            display: block;
        }

    }

    // don't show the close link if we don't have javascript
    .no-js & {
        a.close-link {
            display: none;
        }
    }

}