.tile-exhibit {

    // trick to get the link inside the title to cover the entire tile
    position: relative;
    a:after {
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
    }

    // put outline on image when card is focused
    &:focus-within {
        img {
            @include focus-outline;
        }
    }

    .title,
    .dates {
        text-transform: uppercase;
    }

    .title,
    .artists,
    dt,
    dd {
        font-size: 0.9rem;
        line-height: 1.25;
    }

    .title {
        @include trade-black;
        font-size: 0.9rem; // text styles match .tile-artist .name
        line-height: 1.25;
        margin: 0.4rem 0 0 0;
    }

    .artists {
        margin: 0.2rem 0;
    }

    .dates,
    .reception,
    .attendance {
        font-size: 0.8rem;
    }

    .dates {
        margin: 0.2rem 0 0 0;
    }

    dl {
    
        margin: 0;
    
        dd, dt {
            display: inline-block;
            width: 100%;
        }
    
        dd.inline,
        dt.inline {
            display: inline;
        }
    
    }

}

// for Upcoming and Current exhibitions,
// bump up text size and deal with the 
// additional information they carry
.tile-exhibit-upcoming,
.tile-exhibit-current {

    dl {
        line-height: 1.3;
    }

    img {
        margin-bottom: $stanPad;
    }

    .title,
    .artists {
        font-size: 1.1rem;
        margin: 0;
    }

    .dates {
        font-size: 0.9rem;
    }

}