.tile {

    width: 100%;

    a,
    img {
        display: block;
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    a:focus {
        text-decoration: underline;
        img {
            @include focus-outline;
        }
    }

}