{% load i18n %}

<figure class="tile tile-lightbox-img">    
    <a href="/media/{{ image.img }}" data-group="gallery" data-modaal-desc="{{ image.caption|striptags }}" class="gallery" {% if catalogue_work %}data-permalink="{% url 'docent:artwork_detail' slug=catalogue_work.slug %}"{% endif %}>
        <img src="{% if not forloop or forloop.first %}{{ image.img.crop.1040x1040 }}{% else %}{{ image.img.crop.350x350 }}{% endif %}" alt="{{ image.alt }}">
    </a>
    {% if catalogue_link %}
        <a href="{% url 'docent:artwork_detail' slug=catalogue_work.slug %}" class="lightbox-caption-link">{% trans "Pricing and details" %}</a>
    {% endif %}
</figure>