.pg-404 {

  // get the padding right
  > section {
    @extend %page-section-striping;
    .main {
      text-align: right;
    }
  }

  // do the side-by-side layout at desktop
  @include responsive(35){
    section.pg-404-main {
      min-height: 50vh;
      .left-half, .right-half {
        @include box-sizing;
        float: left;
      }
      .left-half {
        padding-right: 1em;
        text-align: right;
        width: 33.33%;
      }
      .right-half {
        padding-left: 1em;
        width: 66.67%;
      }
    }
  }
}
