.pg-exhibitions {

    > section {
        @extend %page-section-striping;
    }

    // current-exhibit info when there's only one
    .single-curr-exh {

        // trick to get the link inside the title to cover the entire entry
        @extend %clearfix;
        position: relative;
        a:before {
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            position: absolute;
        }
        // now put indicate when this big old section gets keyboard focus
        &:focus-within {
            a {
                text-decoration: underline;
            }
            img {
                @include focus-outline;
            }
        }

        header {
            margin-top: $stanPad;
        }

        .title {
            @include trade-black;
            margin: 0;
            text-transform: uppercase;
        }

        // see components/tile-exhibit for some matching styles
        dl {

            line-height: 1.3;
            margin: 0 0 $stanPad 0;
            
            dd, dt {
                display: inline-block;
                width: 100%;
            }
            
            dd.inline,
            dt.inline {
                display: inline;
            }

            .title,
            .artists {
                font-size: 1.1rem;
                margin: 0;
            }
    
            .dates {
                font-size: 0.9rem;
                margin-top: 0.2rem;
                text-transform: uppercase;
            }
        }

        @include responsive(35){
            text-align: right;
            img {
                float: right;
            }
        }
    }

    // list of current exhibitions tiles when there's more than one
    .multi-current-exh-list {
        li {
            @include responsive(1){
                margin-bottom: $stanPad;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    // the Upcoming Exhibitions content section when there are at least three exhibits
    .multi-upc-exh-region {
        clear: both;
        position: relative;
        top: $stanPad;
    }
}