.pg-gallery {

  > section {
    @extend %page-section-striping;
  }

}

// elements that align text to the right
.pg-gallery-contact-info,
.pg-gallery-main .entry-content,
.pg-gallery .section-video p,
.pg-gallery .section-consulting .section-header p {
  text-align: right;
}

// style any h2 element inside the intro
.pg-gallery-main h2 {
    @include trade-bold;
    font-size: 1.25rem;
    margin: $stanPad 0;
    text-transform: uppercase;
}

.pg-gallery-contact-info {
  .title {
    @include trade-black;
    margin-bottom: 0;
  }
  address {
    font-style: normal;
  }
  p.telephone {
    margin-bottom: 0;
  }
}

  /*
  // with the banner at the top, we don't want any extra padding
  #content {
    padding-top: 0;
  }

  .wrap {
    @extend .cf;
  }

  /*main {
    section {
      // apply common section effects
      @extend %page-section-padding;
      @extend %page-section-striping;
      .main {
        text-align: right;
      }
    }
  }
  

  section.video,
  section.consulting {
    .main {
      margin-top: 1em;
    }
  }

  section.gallery {
    .info {
      .main {
        margin: 1em 0;
        .video-wrapper {
          margin-top: 1em;
        }
      }
    }
    .contact-info {
      div {
        margin-bottom: 1em;
      }
      p {
        margin: 0;
      }
      p.gallery-name {
        @include trade-black;
      }
    }
  }

  .consulting-images {
    .hero.elem {
      width: 94%;
      width: calc(100% - 1em);
    }
  }

  section.press {
    .main {
      li {
        margin-bottom: 1em;
        b {
          @include trade-black;
        }
      }
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    @include responsive(35){
      .main {
        ul {
          margin: 0;
        }
      }
    }
  }

  @include responsive(35){
    section.gallery,
    section.video,
    section.consulting,
    section.press {
      .left-half, .right-half {
        @include box-sizing;
        float: left;
      }
      .left-half {
        padding-right: 1em;
        text-align: right;
        width: 33.33%;
      }
      .right-half {
        padding-left: 1em;
        width: 66.67%;
      }
    }
    section.press {
      .main {
        text-align: left !important;
      }
    }
  }*/