.home {
  
  .banner {
    background: darken(gray,10%);
    background-image: url($imgs + "banner-mobile.jpg");
    background-position: center;
    background-size: 100%;
    color: white;
    height: 0;
    padding: 0 0 100% 0;
    position: relative;
    @include responsive(35){
      padding: 0 0 62.5% 0;
    }
    
    .inner {
      background-image: linear-gradient(180deg, transparent, transparent 50%, rgba(0, 0, 0, 0.5));
      bottom: 0;
      float: none;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 11;
      @include responsive(35){
        background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
      }
    }
    
    header {
      bottom: 1rem;
      display: block;
      float: none;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 11;
      @include responsive(35){
        display: table-cell;
        display: inline-block;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
	      -o-transform: translateY(-50%);
	      transform: translateY(-50%);
        vertical-align: middle;
      }
    }
    
    h1 {
      line-height: 1.5rem;
      margin: 0;
      text-transform: uppercase;
      
      span {
        display: block;
      }
      
      span.part-1 {
        @include trade-black;
        font-size: 1.25rem;
        letter-spacing: 0.25rem;
        margin-bottom: 0;
      }
      
      span.part-2 {
        @include trade-bold;
        font-size: 1rem;
        letter-spacing: 0.25rem;
      }
    }
    
    ul.multisite-nav {
      display: inline-block;
      margin-top: 1rem;
      margin-bottom: 0;
      text-align: center;
      
      li {
        
        float: left;
        @include trade-bold;
        line-height: 1;
        text-transform: uppercase;
        
        &.seattle {
          margin-right: 0.5em;
          
          a {
            display: block;
            padding: 0.5em 1em 0.5em 2em;
            position: relative;
            &:before {
              content: '‹';
              display: block;
              float: left;
              font-size: 2em;
              left: 0.25em;
              position: absolute;
              top: -0.15rem;
            }
          }
        }
        
        &.ny {
          margin-left: 0.5em;
          
          a {
            padding: 0.5em 2em 0.5em 1em;
            position: relative;
            &:before {
              content: '›';
              display: block;
              float: right;
              font-size: 2em;
              position: absolute;
              right: 0.25em;
              top: -0.15rem;
            }
          }
        }
        
        a {
          @include rounded(2px);
          border: 1px solid white;
          color: white;
          display: block;
          text-decoration: none;
          &:hover,
          &:focus {
            background: white;
            color: $text-color;
            &:before {
              color: $text-color;
            }
          }
        }
      }
    }
    @include responsive(35){
      background-image: url($imgs + "banner.jpg");
      padding: 0 0 40% 0;
      /*h1 {
        font-size: 1.5rem;
        letter-spacing: 1rem;
        margin-bottom: 0.5em;
      }
      h2 {
        font-size: 1.4em;
        letter-spacing: 0.75rem;
      }*/
      h1 {
        span.part-1 {
          font-size: 1.5rem;
          letter-spacing: 1rem;
          margin-bottom: 1.25rem;
        }
        span.part-2 {
          font-size: 1.4rem;
          letter-spacing: 0.75rem;
        }
      }
      ul.multisite-nav {
        display: inline-block;
        margin-top: 2.5rem;
      }
    }
  }
  .slide {
    bottom: 0;
    display: none;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 8;
    &.active {
      display: block;
      z-index: 10;
    }
    &.next {
      display: block;
      opacity: 1;
      z-index: 9;
    }
    img {
      position: absolute;
      width: 100%;
    }
    img.desktop {
      display: none;
    }
    @include responsive(35){
      img.mobile {
        display: none;
      }
      img.desktop {
        display: block;
      }
    }
  }
}
