// FONT-FACE
/*@font-face {
  font-family: 'Font Name';
  src: url('library/fonts/font-name.eot');
  src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
         url('library/fonts/font-name.woff') format('woff'),
         url('library/fonts/font-name.ttf') format('truetype'),
         url('library/fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

@mixin trade {
  font-family: 'TradeGothicLT';
  font-style: normal;
  font-weight: normal;
}
@mixin trade-cond {
  font-family: 'TradeGothicLT-CondEighteen';
  font-style: normal;
  font-weight: normal;
}
@mixin trade-black {
  font-family: 'TradeGothicLTCom-Bd2';
  font-style: normal;
  font-weight: normal;
}
@mixin trade-light-ital {
  font-family: 'TradeGothicLTCom-Cn18Obl';
  font-style: italic;
  font-weight: normal;
}
@mixin trade-bold {
  font-family: 'TradeGothicLTCom-BdCn20', sans-serif;
  font-style: normal;
  font-weight: normal;
}


// some nice typographical defaults
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}
