.footer {
	clear: both;
	ul, 
	p,
	dl,
	address {
		margin: 0;
	}
	.footer-main {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	@supports(  display: grid ){
		@include responsive(35){
			.footer-main {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr;
				grid-gap: 1rem;
				padding: 2rem 0;
				&:before,
				&:after {
					content: none;
				}
				.region {
					grid-row-start: 1;
					grid-row-end: 2;
					width: 100%;
				}
				.global.region.ny-contact {
					grid-column-start: 3;
					grid-column-end: 4;
				}
				.global.region.ny-address {
					grid-column-start: 4;
					grid-column-end: 5;
				}
			}
		}
	}
}

.footer-block {
	@extend .cf;
	@include box-sizing;
	margin-bottom: 1rem;
	padding: 0 1rem;
	text-align: center;
	text-transform: uppercase;
	&:last-child {
		margin-bottom: 0;
	}
	.footer-title {
		font-size: 0.9em;
		margin: 0 0 0.15rem 0;
	}
	li,
	p,
	dl,
	address {
		color: black;
		font-size: 0.7rem;
		font-style: normal;
		// word-break: break-all;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	@include responsive(35){
		float: left;
		margin-bottom: 0;
		// width: 25%;
	}
}

.subscribe {
	overflow: hidden;
	@include responsive(35){
		overflow: visible;
	}
	.footer-title {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	form {
		display: none;
		label {
			@include accessible-hide;
		}
		p {
			margin: 0;
			position: relative;
			&:before {
				background: black;
				bottom: 0;
				content: '';
				display: block;
				height: 1px;
				left: -2000px;
				position: absolute;
				width: 2000px;
			}
		}
	}
	input {
		border: none;
		@include rounded(0);
		border-bottom: 1px solid black;
		color: black;
		font-size: 90%;
		height: 24px;
		line-height: 1 !important;
		margin-bottom: 5px;
		padding: 5px 0 5px 5px;
		text-align: right;
		width: 100%;
		&:active, &:focus {
			background: black;
			color: white !important;
			padding-right: 5px;
		}
	}
	p.submit {
	  &:before {
	    content: none;
	  }
	}
	input[type="submit"]{
		background: none;
		border: none;
		text-align: right;
		&:active,&:focus {
			color: black !important;
			padding-right: 0 !important;
		}
	}
	.ajax-loader {
		position: absolute;
	}
	.wpcf7-not-valid-tip, .wpcf7-response-output {
		font-size: 80%;
	}
}


.footer-social-menu {
	margin-top: 0.25em;
	text-align: center;
	li {
		display: inline-block;
		margin-right: 8px;
		opacity: 1;
		&:last-child {
			margin-right: 0;
		}
	}
	a {
		@include rounded(50%);
		background-color: darken($gray,5%);
		display: block;
		overflow: hidden;
		height: 24px;
		padding: 12px;
		position: relative;
		width: 24px;
		svg {
			height: 12px;
			left: 25%;
			position: absolute;
			top: 25%;
			width: 12px;
		}
	}
	a.email svg {
		height: 20px;
		left: 10%;
		top: 10%;
		width: 20px;
	}
}

.footer-fine-print {
	
	background: darken($gray-light,5%);
	background: black;
	color: white;
	font-size: 0.85rem;
	padding: 0.5rem 0 !important;

	p {
		margin: 0;
	}

	a {
		color: white;
		text-decoration: underline;
	}
	
}