.site-header {
    padding: 2rem 0;
}

.main-menu {
    
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;

    li {
        display: inline-block;
        font-size: 0.8rem;
        line-height: 1;
        margin: 0.15rem 0.25rem;
        @include responsive(25){
            margin: 0 0.5rem;
        }
        @include responsive(35){
            margin-right: 1rem;
            margin-left: 1rem;
        }
    }

    a {
        border-bottom: 1px solid white;
        color: $gray-menu;
        padding: 0.25rem;
        text-decoration: none;
    }

    li:hover,
    li.current-menu-item {
        a {
            border-color: black;
            color: black;
        }
    }
    a:focus {
        border-color: black;
        color: black;
    }

    li.home {
        display: block;
        margin: 0 auto 0.5rem auto;
        max-width: 6.5rem;
        a {
            border: none;
        }
    }
 
}