.sidebar {
	@include responsive(3-5){
		margin-top: 2.2em;
	}
}

	.widgettitle {
		@include responsive(3-5){
			border-bottom: 2px solid #444;
			margin-bottom: 0.75em;
		}
	}

	.widget {
		@include responsive(3-5){
			padding: 0 10px;
			margin: 2.2em 0;
		}

		ul {

			li {
				@include responsive(3-5){
					margin-bottom: 0.75em;
				}

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {
					@include responsive(3-5){
						margin-top: 0.75em;
						padding-left: 1em;
					}
				}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}
