{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Run</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Export Image AR Data</h2>
                </td>
                <td>
                    <form action="/vandelay/export/ar">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>            
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}