<!-- templates/home.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Artists" %}{% endblock %}

{% block content %}
<main id="main" class="{{ main_classes }}" aria-hidden="false">
    
    {% if artists_active %}
    <section class="active-artists lago-grid-container-indented padded-section">
        <div class="wrap">
            <div class="region">
                <header class="section-header">
                    <h1 class="page-title section-hed underlined right pg-t-w-1">{% trans "Artists"%}</h1>
                    <h2 class="section-title vh">{% trans 'Main Artists' %}</h2>
                </header>
                <ul class="lago-grid m1-one m2-two t-three d-three w-three">
                    {% for a in artists_active %}
                    <li>
                        <article class="tile tile-artist">
                            <a href="{% url 'docent:artist_detail' a.slug %}">
                                <img src="{{ a.featured_image.img.crop.350x350 }}" alt="">
                                <h3 class="name">{{ a.display_name|safe }}</h3>
                            </a>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}

    
    {% if artists_inactive %}
    <section class="inactive-artists">
        <div class="wrap cf">
            <header class="section-header region t-4 d-4 w-4">
                <h2 class="section-hed underlined right">{% trans "Other Available Artists" %}</h2>
            </header>
            <ul class="inactive-artists-list section-content region t-8 d-8 w-8">
            {% for a in artists_inactive %}
                <li>
                    <h3 class="artist-name">
                        <a aria-label="{{ a.raw_name }}" href="{% url 'docent:artist_detail' a.slug %}">{{ a.display_name|safe }}</a>
                    </h3>
                </li>
            {% endfor %}
          </ul>
        </div>
      </section>
      {% endif %}

</main>
{% endblock %}