{% load i18n %}

<header class="section-header region t-4 d-4 w-4">
    <h1 class="page-title vh">{% trans "Exhibitions" %}</h1>
    <h2 class="section-hed underlined right pg-t-w-1">{% trans "Current Exhibitions" %}</h2>
</header>
<div class="section-content region t-8 d-8 w-8">
    <ul class="multi-current-exh-list lago-grid m1-one m2-two t-two d-two w-two">
        {% for exhibition in exhibitions %}
        <li>
            {% include 'components/tiles/exhibit.html' with exhibition=exhibition img_size='medium' type='current' show_artists=True additional_classes='tile-exhibit-current' %}
        </li>
        {% endfor %}
    </ul>
</div>