<!-- templates/home.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if exhibition %}{{ exhibition.title }}{% else %}{% trans "Exhibition Detail" %}{% endif %}{% endblock %}

{% block content %}
<main id="main" class="content single-exh">

    {% if exhibition %}
    <section>
        <div class="wrap">
            <div class="single-exh-main region t-4 d-4 w-4">
				<header class="single-exh-header">
                    <h1 class="post-title underlined right">{{ exhibition.title }}</h1>
                    <p class="artist-names h2"><span class="vh">{% trans "Artists" %}: </span>{{ exhibition.display_artists }}</p>
                </header>
                <p class="vh">{% trans "Exhibition Information" %}:</p>
                <dl class="single-exh-dl exhibit-dl">
                    <dt class="vh">{% trans "Dates" %}</dt>
                    <dd class="dates">{{ exhibition.display_dates }}</dd>
                    {% if exhibition.reception %}
                        <dt class="reception inline">{% trans "Opening Reception:" %}</dt>
                        <dd class="reception inline">{{ exhibition.reception }}</dd>
                    {% endif %}
                    {% if exhibition.artist_in_attendance %}
                        <dt class="attendance block">{% trans "Artist in attendance" %}</dt>
                        <dd class="vh">{% trans "Yes" %}</dd>
                    {% endif %}
                </dl>
                <div class="single-exh-entry-content entry-content">
                    {{ exhibition.description|safe }}
                </div>
            </div>

            <div class="single-exh-images region t-8 d-8 w-8">
                <h2 class="vh">{% trans "Exhibition Images" %}</h2>
                {% if exhibition.images.exists %}
                    <ul class="lago-gallery lago-grid m1-two m2-two t-three d-three w-three">
                        {% for image in exhibition.images.all %}
                            <li>
                                {% include 'components/tiles/lightbox-image.html' with image=image catalogue_work=image.artwork_featured_image.first %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans "No images found" %}</p>
                {% endif %}
            </div>

        </div>
    </section>
    {% endif %}

</main>
{% endblock %}

{% block footer_js %}
  {{ block.super }}
  {% load static %}
  <script src="{% static 'docent/js/public/src/modaal.js' %}"></script>
  <script src="{% static 'docent/js/public/src/modaal-init.js' %}"></script>
{% endblock %}