<!-- templates/home.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}
<main id="main" class="{{ main_classes }}" aria-hidden="false">
    
    {% if posts %}
    <section class="active-artists lago-grid-container-indented padded-section">
        <div class="wrap">
            <div class="region">
                <header class="section-header">
                    <h1 class="page-title section-hed underlined right pg-t-w-1">{% trans "News"%}</h1>
                </header>
                <ul class="lago-grid m1-one m2-two t-three d-three w-three">
                    {% for p in posts %}
                    <li>
                        <article class="tile tile-artist">
                            <h3><a href="{% url 'docent:news_detail' p.slug %}">{{ p.title }}</a></h3>
                        </article>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}

</main>
{% endblock %}