.jps-grid-picker-container {

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1rem;

}

.jps-grid-picker-cell {

    position: relative;

    .title {
        background: none !important;
        display: block !important;
    }

    .image-label {
        display: none;
    }

}