{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Run</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h2>Import Videos from WordPress</h2>
                    <p><small>Last run: {{ last_import_videos }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/videos">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Posts from WordPress</h2>
                    <p><small>Last run: {{ last_import_posts }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/posts">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Artists from Spreadsheet</h2>
                    <p>Pulls first and last names from master-inventory sheet. Doesn't interfere with existing values, uses WP ids to cross-reference</p>
                    <p><small>Last run: {{ last_import_artists_from_spreadsheet }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/artists-from-spreadsheet">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Artists from WordPress</h2>
                    <p>Pulls all artist information, overwrites existing values. Also brings over featured images.</p>
                    <p><small>Last run: {{ last_import_artists }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/artists">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Artists with Work Images</h2>
                    <p>Consumes the Artists API, gets/updates/creates all the main images associated with the artist record</p>
                    <p><small>Last run: {{ last_connect_artist_work_images }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-artist-work-images">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Artists with Installation Images</h2>
                    <p>Same as above, but for the installation images</p>
                    <p><small>Last run: {{ last_connect_artist_install_images }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-artist-install-images">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Exhibitions from WordPress</h2>
                    <p>Pulls all exhibition information, including featured images.</p>
                    <p><small>Last run: {{ last_import_exhibitions }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/exhibitions">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Exhibitions with Images</h2>
                    <p>Consumes the Exhibitions API, gets/updates/creates all images associated with the exhibition</p>
                    <p><small>Last run: {{ last_connect_exhibition_images }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-exhibition-images">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import/Update Contacts from Spreadsheet</h2>
                    <p><small>Last run: {{ last_import_contacts }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/contacts">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import/Update Contact Categories from Spreadsheet</h2>
                    <p>Sources from contact-categories spreadsheet</p>
                    <p><small>Last run: {{ last_import_contact_categories }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/contact-categories">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import/Update Contact Addresses from Spreadsheet</h2>
                    <p>Loops through master-contacts, creates Address records, connects them to Contact records</p>
                    <p><small>Last run: {{ last_import_contact_addresses }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/contact-addresses">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import/Update Contact Phones from Spreadsheet</h2>
                    <p>Loops through master-contacts, creates Telephone records, connects them to Contact records</p>
                    <p><small>Last run: {{ last_import_contact_phones }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/contact-phones">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import/Update Contact Emails from Spreadsheet</h2>
                    <p>Loops through master-contacts, creates Email records, connects them to Contact records</p>
                    <p><small>Last run: {{ last_import_contact_emails }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/contact-emails">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Contact Records with Artist Preferences</h2>
                    <p>Loops through master-contacts, ties specified artist ids to Contact records. (For best results, make sure that all artists are imported from the spreadsheet first.)</p>
                    <p><small>Last run: {{ last_connect_contact_artists }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-contact-artists">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Contact Records with Categories</h2>
                    <p>Should run "Import/Update Contact Categories from Spreadsheet" first</p>
                    <p><small>Last run: {{ last_connect_contact_categories }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-contact-categories">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Artworks from WordPress</h2>
                    <p>This brings over only images in WP marked as being searchable</p>
                    <p><small>Last run: {{ last_import_artworks }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/artworks">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Artwork Mediums from WordPress</h2>
                    <p><small>Last run: {{ last_import_artwork_mediums }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/artwork-mediums">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Artwork Aspects from WordPress</h2>
                    <p><small>Last run: {{ last_import_artwork_aspects }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/artwork-aspects">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Artwork Types from Spreadsheet</h2>
                    <p>Sources from inventory-types.csv</p>
                    <p><small>Last run: {{ last_import_artwork_types }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/artwork-types">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Artwork Locations from Spreadsheet</h2>
                    <p>Sources from inventory-locations.csv</p>
                    <p><small>Last run: {{ last_import_artwork_locations }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/artwork-locations">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Artwork Data from Spreadsheet</h2>
                    <p>Loops through master-inventory, brings in year, artist, ArtworkType, FileMaker id, etc. for all records -- both active and historical. Also creates history notes on sales, removals, etc., so best to run contact import before running this one.</p>
                    <p><small>Last run: {{ last_import_artwork_from_spreadsheet }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/artworks-from-spreadsheet">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Artwork Records with Mediums Taxonomy</h2>
                    <p><small>Last run: {{ last_connect_artwork_mediums }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-artwork-mediums">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Artwork Records with Aspects Taxonomy</h2>
                    <p><small>Last run: {{ last_connect_artwork_aspects }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-artwork-aspects">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Artwork Records with Artist Records</h2>
                    <p>Tries to pull the artist name from the artwork title. If it finds an artist record with that title, it'll connect the two records.</p>
                    <p><small>Last run: {{ last_connect_artwork_artists }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-artwork-artists">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Images from WordPress</h2>
                    <p><small>Last run: {{ last_import_images }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/images">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Connect Artwork Records with Image Records</h2>
                    <p>The artwork import brings over the WP url for the image. This goes looking for that URL, creates a record for the image, and connects that image record to the artwork record.</p>
                    <p><small>Last run: {{ last_connect_artwork_images }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/connect-artwork-images">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Consignments from Spreadsheet</h2>
                    <p>Handles the creation of the canonical Consigment record, as well as attachment of all of the line items</p>
                    <p><small>Last run: {{ last_import_consignments }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/consignments">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Import Invoices from Spreadsheet</h2>
                    <p>Imports historical records, with references to line items as admin notes</p>
                    <p><small>Last run: {{ last_import_invoices }}</small></p>
                </td>
                <td>
                    <form action="/vandelay/import/invoices">
                        {% csrf_token %}
                        <input type="submit" value="Submit">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}