.blocker {
    z-index: 1000;
}

.modal {
    height: 90% !important;
    left: 5% !important;
    max-width: none;
    overflow: scroll !important;
    top: 5% !important;
    width: 90% !important;
}

.grid-picker-origin-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.grid-picker-origin-list li {
    position: relative;
}

.grid-picker-origin-list label {
    background: green;
    cursor: pointer;
    height: 0;
    padding: 50% 0;
    position: relative;
    width: 100%;
}

.grid-picker-origin-list p.title {
    left: 0;
    padding: 0.5rem;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
}

.grid-picker-origin-list input {
    bottom: 0.5rem;
    left: 0.5rem;
    position: absolute;
}